.container {
    background-color: pink;
}

[class*="col"] {
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col.block {
    display: block;
}

[class*="col"] > .row > [class*="col"] {
}